@font-face {
    font-family: 'Roboto Flex';
    src: url('../assets/RobotoFlex-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'Roboto Flex',sans-serif;
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f5f3f4;
}

header {
    margin-bottom: auto;
    
    background-color: black;
    padding-top: 0.52vw;
    padding-bottom: 0.52vw;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

main {
    max-width: 80%;
    margin: 0% 10%;
    padding: 2%;
}

h1{
    text-decoration: underline;
}

video{
    width: 100%;
}

audio {
    width: 100%;
}

ol,ul {
    padding-left: 5vw;
}

nav,ul,li{
    height: 100%;
}
nav > ul > li{
    list-style:none;
    display: inline;
    padding: 1.5vw 0.27vw;
}
nav > ul > li:hover{
    background-color: #BA181B;
}
nav > ul > li > a {
    text-decoration: none;
    color:white;
}

.section_header{
    padding: 2%;
    border: solid black  0.065vw;
    background-color: white;
    text-align: center;
}

.section_header:hover{
    background-color: #E5383B;
}

.img_centro{
    text-align: center;
}

#requisitos .img_centro img{
    width: 50%;
    border-radius:5%;
}

.container{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-content: flex-start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
}
.tarjeta {

    -webkit-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: baseline;
    align-self: baseline;
    width: 100%;

    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-content: center;
    align-content: center;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    background-color: #fff;
    border:  0.065vw solid #BA181B;
    padding: 1.3vw;
    margin:2%;
}
/*
.imgpiloto {
    -webkit-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: baseline;
    align-self: baseline;
    width: 40%;
    margin-right: 20px;
}*/

.piloto > img {
    width: 50%;
}


.piloto {
    -webkit-order: 0;
    order: 0;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: auto;
    align-self: auto;
    width: 40%;
    padding: 5%;
}

.piloto h2 {
    font-size: 1.56vw;
}

.piloto p {
    margin: 0.65vw 0;
}

#requisitos li{
    padding: 2%
}

#superlicencia li{
    padding:2%;
}

section > img{
    width: 100%;
    height: auto;
}

#superlicencia img{
    width: 75%;
}

#contact>form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

#pilotofav{
    margin-bottom: 8px;
}

#lage{
    margin-bottom: 8px;
}

.radiotype{
    margin-bottom: 8px;
}



input[type=text],input[type=email],input[type=tel],input[type=tel],input[type=submit],input[type=reset],textarea {
    width: 100%;
    padding: 12px 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
    border: 2px solid black;
}

/* https://coolors.co/0b090a-161a1d-660708-a4161a-ba181b-e5383b-b1a7a6-d3d3d3-f5f3f4-ffffff /*